---
import Main from "../layout/header.astro"
import NavBar from "../components/NavBar.svelte"
import Content from "../components/BodyContent.svelte"
import Card from "../components/Card/card.svelte"
---

<Main title="Msg Private">
	<NavBar>
		<li><a href="/">Home</a></li>
	</NavBar>
	<Content>
		<Card title="About of site" full>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque accusantium quisquam, eaque suscipit necessitatibus unde praesentium eligendi perspiciatis! Quaerat rerum autem error atque cumque necessitatibus, repellat laboriosam deserunt asperiores molestiae?
			Quasi temporibus quia nesciunt modi? Neque nemo autem ducimus rem nesciunt modi ex! Quia cupiditate ipsum fugiat, qui quis accusantium, expedita corrupti quasi tempora quaerat magnam reprehenderit quidem voluptatem similique.
			Voluptatum perferendis voluptatibus ab sunt, iste qui voluptate ullam veniam deleniti quo. Nisi reiciendis, esse laudantium dignissimos reprehenderit aspernatur fugit laboriosam similique quo eius qui labore natus rem quas quae.
			Nulla eligendi perspiciatis error consequatur, culpa perferendis minima harum distinctio aliquid quibusdam dolores animi quaerat. Voluptas corrupti ex ducimus sed facilis, culpa magnam! Vel a unde quam blanditiis nisi architecto?
			Pariatur reiciendis qui obcaecati doloremque? Accusamus reiciendis delectus, doloribus atque quis voluptas labore deleniti, repellat alias vitae officia! Dolorem, placeat expedita magnam sit alias eius ut beatae quasi illum optio?
			Omnis doloremque nesciunt praesentium labore officia magnam dolores voluptate cum voluptatum amet dolor est facilis, adipisci a modi eos saepe harum iure eius dolore earum corrupti rerum officiis quaerat. Consequuntur!
			Voluptatem id excepturi deleniti eius voluptas maiores ullam quisquam, quod nostrum atque ad accusantium eveniet. Veniam dolorem minus quis aliquid. Doloribus iste dolore similique deleniti suscipit id distinctio fugit placeat?
			Obcaecati iusto temporibus porro atque explicabo velit laborum ducimus, cumque mollitia eligendi! Illum deserunt repellat sed laborum, voluptatum voluptatibus cupiditate voluptate dicta atque, ad, totam quia suscipit molestiae soluta. Deleniti!
			Porro quia ea fugiat eligendi delectus, laborum commodi vel unde architecto quos atque accusantium ratione aspernatur qui iste consectetur nesciunt nemo sed alias, dicta asperiores. Dolore incidunt nihil ut quos.
			Illo libero voluptate sed optio rerum quas perferendis odio enim dolore, voluptatibus molestiae beatae deserunt unde nulla impedit dolor earum, consequuntur corporis nihil eaque fugit. Explicabo deserunt sunt molestiae laboriosam.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto harum, modi neque enim quae fugit deserunt accusantium temporibus quos, eligendi ullam similique vel nihil sed at iste accusamus est hic.
			Minima blanditiis nesciunt odio facere voluptatibus exercitationem veritatis nulla quos illo cumque deserunt magnam officiis libero facilis sit eveniet aliquam, vel, non ratione ad optio. Eius vel odit in dignissimos?
			Modi aspernatur nisi aut eos repudiandae eveniet obcaecati libero et, labore delectus nesciunt repellat beatae similique eligendi fugit enim deleniti aperiam quaerat voluptates vero quasi, perspiciatis maiores. Porro, dignissimos id.
			Deleniti hic nemo veniam, eveniet cumque veritatis fuga repudiandae odit consequatur quae magnam doloribus at similique sunt error asperiores enim laborum iure magni nostrum laudantium? Delectus magni optio ullam voluptates.
			Accusamus quidem, iusto, deleniti incidunt aspernatur quisquam autem consectetur quis vero harum, expedita dignissimos tenetur pariatur tempora provident numquam cum magnam sint enim architecto. Dolorum, voluptate voluptas. Ullam, soluta alias.
			Itaque, omnis necessitatibus unde natus praesentium possimus reiciendis eveniet quae veniam odio quo nam illo exercitationem deserunt totam excepturi cupiditate reprehenderit sunt doloremque incidunt, dolores eum. Quas cum animi architecto.
			Provident ab officia, dolorem labore sunt ratione non aperiam, veritatis, totam autem consequatur eius atque? Eos consequatur assumenda aliquam omnis tempora natus similique vitae sequi hic perferendis, quas, sunt aut.
			Vero, quaerat sed? Quaerat sunt facilis iure dolores reprehenderit. Quaerat, ex! Amet illum vero odio adipisci! Inventore, tenetur voluptatem dicta incidunt veritatis explicabo eum labore officia veniam recusandae, nisi saepe.
			Cupiditate cumque possimus, rem quibusdam culpa consectetur repellat deserunt ullam minima, quidem consequuntur asperiores? Hic voluptas vero, ex natus qui reiciendis dolor, cupiditate pariatur fugiat est, possimus numquam temporibus praesentium.
			Ut pariatur quam ipsum dolores quia eius omnis consequuntur, ipsam soluta non harum hic, asperiores dolor quasi error magni reprehenderit quod voluptates? Autem iste odit maxime nihil numquam odio eius.
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique nam optio aperiam sint, at quia ipsam magni ipsum aliquam nesciunt error est porro inventore explicabo atque vel expedita quod libero!
			Aspernatur modi aut alias officia ex, incidunt nostrum accusamus aliquam veritatis qui. Placeat nobis itaque architecto voluptatem deleniti, atque nam ullam est eos sequi, dolor ipsam incidunt molestias nihil quasi.
			Repellendus unde ipsam nesciunt quod maiores fuga praesentium a voluptatum, assumenda non, inventore quibusdam! Sit atque maxime doloremque ullam, hic unde ratione saepe? Repudiandae maiores vero dolore enim delectus nostrum?
			Nam numquam aspernatur alias quasi veniam, recusandae tenetur, asperiores illo at quod voluptates distinctio molestiae itaque adipisci tempore impedit earum reiciendis quibusdam velit a! Quos totam ab cum vel modi.
			In ad ea inventore mollitia blanditiis perspiciatis natus optio error! Tenetur molestias omnis culpa totam laborum perferendis eos hic, est, beatae excepturi voluptatem laudantium sit? Ullam iusto ipsa maiores nisi?
			Nesciunt quia non dicta, repellendus unde, tempore optio voluptate est blanditiis ab mollitia perspiciatis reprehenderit. Quidem, sunt, placeat corrupti minima esse sed soluta aliquid ipsam libero similique, corporis consequatur qui.
			Ipsum ducimus, expedita tempora dolores et recusandae, quas odit ullam doloremque quos maxime nemo excepturi esse magnam eaque cupiditate in quod, soluta fuga quasi aut. Dolorem asperiores saepe totam voluptas.
			Asperiores reiciendis at quae pariatur corporis aperiam sequi sapiente nihil quidem perferendis, dolore eos minima enim! Excepturi explicabo aliquid rerum ullam facere iste accusamus, rem, repellendus alias repudiandae sit magnam!
			Nesciunt corporis deserunt nobis fuga dicta. Expedita, neque ipsum magni ut minima quos eius dignissimos praesentium sit, pariatur iure beatae totam maiores autem aspernatur voluptatibus dolores esse! Iste, praesentium in.
			Animi ut minima quae blanditiis, commodi accusantium fugiat eveniet fuga! Possimus velit aliquid deserunt illo quos modi cumque quia nam iusto veniam iste quisquam officia aspernatur voluptatibus suscipit, alias voluptates.
		</Card>
	</Content>
</Main>
