---
import Header from "../layout/header.astro"
import NavBar from "../components/NavBar.svelte"
import Content from "../components/BodyContent.svelte"
import App from "../components/App.svelte"
---

<Header title="Msg Private">
	<NavBar>
		<li><a href="/About">About</a></li>
	</NavBar>
	<Content>
		<App client:only="svelte"/>
	</Content>
</Header>
